fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
sqlalchemy
alembic
psycopg2-binary
python-dotenv
langchain
langchain-community
langchain-core
langgraph
chromadb
sentence-transformers
pydantic
pydantic-settings
arize-phoenix
openinference-instrumentation-langchain
opentelemetry-sdk
opentelemetry-exporter-otlp
pypdf
